# Classification using Random Forest Algorithm

Dataset:Pima Indians Diabetes Dataset|Kaggle

# Importing the necessary libraries

In [2]:
#IMPORTING THE LIBRARIES
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
%matplotlib inline
from sklearn.model_selection import train_test_split

In [16]:
from sklearn.metrics import accuracy_score

In [25]:
from sklearn import metrics

# Loading and visualizing the dataset

In [6]:
#LOADING THE DATASET
dataset = pd.read_csv('diabetes.csv')
dataset.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1


Details about the dataset:

    Pregnancies decribes the number of times the person has been pregnant.
    Gluose describes the blood glucose level on testing.
    Blood pressure describes the diastolic blood pressure.
    Skin Thickenss describes the skin fold thickness of the triceps.
    Insulin describes the amount of insulin in a 2hour serum test.
    BMI describes he body mass index.
    DiabetesPedigreeFunction describes the family history of the person.
    Age describes the age of the person
    Outcome describes if the person is predicted to have diabetes or not.
    It should also be noted that the dataset has no missing values and thus, filling up the dataset using algorithms will not be necessary.

In [5]:
#DESCRIPTION OF THE DATASET

dataset.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

# Selection and Splitting of the Dataset

In [7]:
data = dataset.iloc[:,0:8]
outcome = dataset.iloc[:,8]
x,y = data,outcome

In [12]:
#DISTRIBUTION OF DATASET INTO TRAINING AND TESTING SETS
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0)

In [13]:
#COUNTING THE POSITIVE AND NEGATIVE VALUES
print(y_test.value_counts())
#MEAN OF THE TESTING DISTRIBUTION
print(1- y_test.mean())

0    130
1     62
Name: Outcome, dtype: int64
0.6770833333333333

In [29]:
#USING RANDOM FOREST CLASSIFICATION
from sklearn.ensemble import RandomForestClassifier
rmfr = RandomForestClassifier()
rmfr.fit(x_train, y_train)
y_pred = rmfr.predict(x_test)
accuracyrf = round(accuracy_score(y_pred, y_test), 5)
accuracyrf

0.77604

In [28]:
print("Confusion Matrix")
print(metrics.confusion_matrix(y_test, y_pred, labels=[1, 0]))
print("")
print("Classification Report")
print(metrics.classification_report(y_test,y_pred, labels=[1, 0]))

Confusion Matrix
[[ 36  26]
 [ 16 114]]

Classification Report
              precision    recall  f1-score   support

           1       0.69      0.58      0.63        62
           0       0.81      0.88      0.84       130

    accuracy                           0.78       192
   macro avg       0.75      0.73      0.74       192
weighted avg       0.77      0.78      0.78       192

So accuracy of our model is 78%